node_modules
**/node_modules
.git
.next
**/.next
dist
**/dist
build
**/build
artifacts
**/artifacts
cache
**/cache
typechain-types
**/typechain-types
coverage
**/coverage
.env
.env.local
.env.*.local
*.log
.vscode
.idea
